
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/


node_modules/

build/
dist/
.eslintcache


.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl


.env
.env.local
secrets.yaml


.DS_Store
Thumbs.db


__MACOSX/