name: Backend CI/CD
on:
  push:
    paths:
      - 'backend/**'
      - 'k8s/**' 
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3


      # --- -------- ---
      # - name: SonarCloud Scan
      #   uses: SonarSource/sonarqube-scan-action@v3
      #   continue-on-error: true  
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #   with:
      #     args: >
      #       -Dsonar.projectKey=Nabilaebrahim_fproject
      #       -Dsonar.organization=nabilaebrahim
      #       -Dsonar.sources=backend/
      # ------------------------


      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and Push Backend Image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ vars.ECR_REPOSITORY }}
          IMAGE_TAG: ${{ github.sha }} 
        run: |
          
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:backend-$IMAGE_TAG ./backend
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:backend-$IMAGE_TAG

      - name: Update Kubeconfig and Deploy
        run: |
          aws eks update-kubeconfig --name ${{ vars.EKS_CLUSTER_NAME }} --region ${{ vars.AWS_REGION }}
          
          
          sed -i "s/\${AWS_ACCOUNT_ID}/${{ vars.AWS_ACCOUNT_ID }}/g" k8s/backend.yaml
          sed -i "s/backend-latest/backend-${{ github.sha }}/g" k8s/backend.yaml
          
          
          kubectl apply -f k8s/db.yaml
          kubectl apply -f k8s/backend.yaml
          kubectl apply -f k8s/backup-cronjob.yaml